<h1>Recent posts: <%= @posts.count %> | <%= link_to 'New post', :action => :new %></h1> 

<%= form_tag posts_path, :method => "get"  do %>
<p>
	<%= text_field_tag :search, params[ :search ], :id => 'search_field' %>
	<%= submit_tag "Search", :name => nil  %>
	<%= link_to "Clear", :action => :index %>
</p>
<% end %>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @posts.each do |post| %>
	<tr>
		<td id = "postTitle">
		<p>
			<%= post.title %>
		</p></td>
		<td id = "postText">
		<p>
			<%= post.text %>
		</p></td>
		<td></td>
	</tr>
	
	<tr>
		<td />
		<td>(<%= link_to "'#{pluralize(post.comments.count, 'comment')}'", "posts/#{post[:id ]}#comments" %>)
		<%= link_to 'Show', :action => :show, :id => post.id  %> |
		<%= link_to 'Edit', :action => :edit, :id => post.id %> |
		<%= link_to 'Delete', {:action => :destroy, :id => post.id},
		:method => :delete, :confirm => "Are you sure? This will delete post '#{post.title}'" %></td>
	</tr>
	<% end %>
</table>

