<div id="showCreatedPost">
	<p id = "showPostTitle">
		<strong>Title:</strong>
		<%= @post.title %>
	</p>

	<p id = "showPostText">
		<strong>Text:</strong>
		<%= @post.text %>
	</p>

</div>

<div id = "postLinks">
	<%= link_to 'Edit post', edit_post_path(@post) %> |
	<%= link_to 'Back to main', :action => :index %>
</div>

<div id = "allComments">
	<a name="comments" />
	<h2>Comments:</h2>
	<% if not @post.comments.any? %>
	<p>
		<strong>No comments yet :(
		<br />
		You can be first!</strong>
	</p>
	<% end %>
	<%= render @post.comments %>
</div>

<div id = "addComment">
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
</div>